body {
    background-color: #FB6B6B;
}

*{    box-sizing: border-box;}

img {
    object-fit: fill;
    width: 136px;
    height: 161px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;

}

ion-icon{
    width:20px;
    height: 23px;
}




h1{
    display:flex;
    justify-content: center;
    width: 257px;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 36px;
}
.start {
    bottom:25%;
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}


.start .startButton {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    width: 246px;
    height: 54px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    color: #D70900;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-width: 1px;
    border-color: #D70900;
    transition: 0.1s;
}


/* GAME */

.game {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

}

.game button{
    width: 300px;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor:pointer;
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-width: 0px;
    margin: 40px;
}

.game-header {
    display:flex;
    justify-content: center;
    align-items: center;
}

.openQuestions button{
    width: 300px;
    height: 131px;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
    cursor:default;
}

.openQuestions img{
    bottom: 0px;
    right: -115px;
    position: relative;
    cursor:pointer;
}

.openAnswer button{
    display:flex;
    flex-direction: column;

}

.choices {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:20px;
}

.choices button {
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 85.17px;
    height: 37.17px;
    font-size: 12px;
    padding:6px;
    margin: 0px;
}


button .nope {
    background-color: red;
}

button .almost {
    background-color: orange;
}

button .zap {
    background-color: green;
}

.done-nope {
    color:red;
    text-decoration: line-through;

}

.done-almost{
    color:orange;
    text-decoration: line-through;
}

.done-zap{
    color:green;
    text-decoration: line-through;
}



/* FOOTER */
.footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0px;
}












.hidden {
    display:none;
}